.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container2 {
  display: flex;
  justify-content: row;
  margin-bottom: 20px;
  gap: 5px;
}
.container4{
  width: 100%;
}
.filter3 input[type="time"],
.filter3 input[type="time"]::-webkit-input-placeholder {
  font-size: 12px; /* Smaller font size */
  padding: 6px; /* Smaller padding */
  width: 80px; /* Adjust width as needed */
}


.filter1,
.filter2,
.filter3 {
  margin-right: 20px; /* Adjust as needed for spacing */
  box-sizing: 10px;
}

.filter1,
.filter2 {
  flex: 1; /* Each filter takes equal space */
}

.filter3 {
  flex: 2; /* This filter takes double space */
}

.filter3 input[type="time"] {
  margin-right: 10px; /* Adjust as needed for spacing */
  font-size: 12px; /* Smaller font size */
  padding: 6px; /* Smaller padding */
}

.btn {
  margin-top: 10px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 8px 16px; /* Adjust padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 6px; /* Smaller padding */
}

.table th {
  background-color: #f2f2f2;
}
